[submodule "third_party/algorithms"]
	path = third_party/algorithms
	url = git@github.com:NikhilKamathB/Algorithms.git
[submodule "third_party/av2"]
	path = third_party/av2
	url = git@github.com:argoverse/av2-api.git
