networkx
distro
future
pygame
numpy
pydantic
pandas
open3d-python
pytest
typer
typer[all]
dvc
dvc[gs]
PyYAML
python-dotenv
matplotlib
pillow
shapely
opencv-python
carla~=0.9.15; platform_system == "Linux"